html[dir='ltr'],
.sonner-toaster[dir='ltr'] {
  --toast-icon-margin-start: -3px;
  --toast-icon-margin-end: 4px;
  --toast-svg-margin-start: -1px;
  --toast-svg-margin-end: 0px;
  --toast-button-margin-start: auto;
  --toast-button-margin-end: 0;
  --toast-close-button-start: 0;
  --toast-close-button-end: unset;
  --toast-close-button-transform: translate(-35%, -35%);
}

html[dir='rtl'],
.sonner-toaster[dir='rtl'] {
  --toast-icon-margin-start: 4px;
  --toast-icon-margin-end: -3px;
  --toast-svg-margin-start: 0px;
  --toast-svg-margin-end: -1px;
  --toast-button-margin-start: 0;
  --toast-button-margin-end: auto;
  --toast-close-button-start: unset;
  --toast-close-button-end: 0;
  --toast-close-button-transform: translate(35%, -35%);
}

.sonner-toaster {
  position: fixed;
  width: var(--width);
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --border-radius: 8px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: 999999999;
  transition: transform 400ms ease;
}

.sonner-toaster[data-x-position='right'] {
  right: var(--offset-right);
}

.sonner-toaster[data-x-position='left'] {
  left: var(--offset-left);
}

.sonner-toaster[data-x-position='center'] {
  left: 50%;
  transform: translateX(-50%);
}

.sonner-toaster[data-y-position='top'] {
  top: var(--offset-top);
}

.sonner-toaster[data-y-position='bottom'] {
  bottom: var(--offset-bottom);
}

.sonner-toast {
  --y: translateY(100%);
  --lift-amount: calc(var(--lift) * var(--gap));
  z-index: var(--z-index);
  position: absolute;
  opacity: 0;
  transform: var(--y);
  transform-origin: center;
  touch-action: none;
  transition:
    transform 400ms,
    opacity 400ms,
    height 400ms,
    box-shadow 200ms;
  box-sizing: border-box;
  outline: none;
  overflow-wrap: anywhere;
}

.sonner-toast[data-styled] {
  padding: 16px;
  background: var(--normal-bg);
  border: 1px solid var(--normal-border);
  color: var(--normal-text);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: var(--width);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sonner-toast:focus-visible {
  box-shadow:
    0px 4px 12px rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(0, 0, 0, 0.2);
}

.sonner-toast[data-y-position='top'] {
  top: 0;
  --y: translateY(-100%);
  --lift: 1;
  --lift-amount: calc(1 * var(--gap));
}

.sonner-toast[data-y-position='bottom'] {
  bottom: 0;
  --y: translateY(100%);
  --lift: -1;
  --lift-amount: calc(var(--lift) * var(--gap));
}

.sonner-toast[data-styled] .sonner-description {
  font-weight: 400;
  line-height: 1.4;
  color: #3f3f3f;
}

.sonner-toast[data-rich-colors][data-styled] .sonner-description {
  color: inherit;
}

.sonner-toaster[data-sonner-theme='dark'] .sonner-description {
  color: hsl(0, 0%, 91%);
}

.sonner-toast[data-styled] .sonner-title {
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}

.sonner-toast[data-styled] .sonner-icon {
  display: flex;
  height: 16px;
  width: 16px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: var(--toast-icon-margin-start);
  margin-right: var(--toast-icon-margin-end);
}

.sonner-toast[data-promise] .sonner-icon > svg {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: center;
  animation: sonner-fade-in 300ms ease forwards;
}

.sonner-toast[data-styled] .sonner-icon > * {
  flex-shrink: 0;
}

.sonner-toast[data-styled] .sonner-icon svg {
  margin-left: var(--toast-svg-margin-start);
  margin-right: var(--toast-svg-margin-end);
}

.sonner-toast[data-styled] .sonner-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sonner-toast[data-styled] .sonner-button {
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  font-size: 12px;
  color: var(--normal-bg);
  background: var(--normal-text);
  margin-left: var(--toast-button-margin-start);
  margin-right: var(--toast-button-margin-end);
  border: none;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition:
    opacity 400ms,
    box-shadow 200ms;
}

.sonner-toast[data-styled] .sonner-button:focus-visible {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}

.sonner-toast[data-styled] .sonner-button:first-of-type {
  margin-left: var(--toast-button-margin-start);
  margin-right: var(--toast-button-margin-end);
}

.sonner-toast[data-styled] .sonner-cancel {
  color: var(--normal-text);
  background: rgba(0, 0, 0, 0.08);
}

.sonner-toaster[data-sonner-theme='dark'] .sonner-toast[data-styled] .sonner-cancel {
  background: rgba(255, 255, 255, 0.3);
}

.sonner-toaster[data-sonner-theme='dark'] .sonner-toast .sonner-close-button {
  background: var(--normal-bg);
  border-color: var(--normal-border);
  color: var(--normal-text);
}

.sonner-toaster[data-sonner-theme='dark'] .sonner-toast .sonner-close-button:hover {
  background: var(--normal-bg-hover);
  border-color: var(--normal-border-hover);
}

.sonner-toast[data-rich-colors][data-type='success'] {
  background: var(--success-bg);
  border-color: var(--success-border);
  color: var(--success-text);
}

.sonner-toast[data-rich-colors][data-type='success'] .sonner-close-button {
  background: var(--success-bg);
  border-color: var(--success-border);
  color: var(--success-text);
}

.sonner-toast[data-rich-colors][data-type='info'] {
  background: var(--info-bg);
  border-color: var(--info-border);
  color: var(--info-text);
}

.sonner-toast[data-rich-colors][data-type='info'] .sonner-close-button {
  background: var(--info-bg);
  border-color: var(--info-border);
  color: var(--info-text);
}

.sonner-toast[data-rich-colors][data-type='warning'] {
  background: var(--warning-bg);
  border-color: var(--warning-border);
  color: var(--warning-text);
}

.sonner-toast[data-rich-colors][data-type='warning'] .sonner-close-button {
  background: var(--warning-bg);
  border-color: var(--warning-border);
  color: var(--warning-text);
}

.sonner-toast[data-rich-colors][data-type='error'] {
  background: var(--error-bg);
  border-color: var(--error-border);
  color: var(--error-text);
}

.sonner-toast[data-rich-colors][data-type='error'] .sonner-close-button {
  background: var(--error-bg);
  border-color: var(--error-border);
  color: var(--error-text);
}

.sonner-toast[data-bump] {
  animation: sonner-toast-bump 240ms ease;
}

@keyframes sonner-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sonner-toast-bump {
  0% {
    transform: var(--y) scale(1);
  }
  45% {
    transform: var(--y) scale(1.04);
  }
  100% {
    transform: var(--y) scale(1);
  }
}

.sonner-toast[data-styled] .sonner-close-button {
  position: absolute;
  left: var(--toast-close-button-start);
  right: var(--toast-close-button-end);
  top: 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--normal-text);
  background: var(--normal-bg);
  border: 1px solid var(--normal-border);
  transform: var(--toast-close-button-transform);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition:
    opacity 100ms,
    background-color 200ms,
    border-color 200ms;
}

.sonner-toast[data-styled] .sonner-close-button:focus-visible {
  box-shadow:
    0px 4px 12px rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(0, 0, 0, 0.2);
}

.sonner-toast[data-styled] .sonner-close-button[data-disabled] {
  cursor: not-allowed;
}

.sonner-toast[data-styled]:hover .sonner-close-button:hover {
  background: var(--gray2);
  border-color: var(--gray5);
}

.sonner-toast[data-swiping]::before {
  content: '';
  position: absolute;
  left: -100%;
  right: -100%;
  height: 100%;
  z-index: -1;
}

.sonner-toast[data-y-position='top'][data-swiping]::before {
  bottom: 50%;
  transform: scaleY(3) translateY(50%);
}

.sonner-toast[data-y-position='bottom'][data-swiping]::before {
  top: 50%;
  transform: scaleY(3) translateY(-50%);
}

.sonner-toast:not([data-swiping])[data-removed]::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleY(2);
}

.sonner-toast[data-expanded]::after {
  content: '';
  position: absolute;
  left: 0;
  height: calc(var(--gap) + 1px);
  bottom: 100%;
  width: 100%;
}

.sonner-toast[data-mounted] {
  --y: translateY(0);
  opacity: 1;
}

.sonner-toast:not([data-expanded]):not([data-front]) {
  --scale: var(--toasts-before) * 0.05 + 1;
  --y: translateY(calc(var(--lift-amount) * var(--toasts-before))) scale(calc(-1 * var(--scale)));
  height: var(--front-toast-height);
}

.sonner-toast > * {
  transition: opacity 400ms;
}

.sonner-toast[data-x-position='right'] {
  right: 0;
}

.sonner-toast[data-x-position='left'] {
  left: 0;
}

.sonner-toast:not([data-expanded]):not([data-front])[data-styled] > * {
  opacity: 0;
}

.sonner-toast:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.sonner-toast[data-mounted][data-expanded] {
  --y: translateY(calc(var(--lift) * var(--offset)));
  height: var(--initial-height);
}

.sonner-toast[data-removed][data-front]:not([data-swipe-out]) {
  --y: translateY(calc(var(--lift) * -100%));
  opacity: 0;
}

.sonner-toast[data-removed]:not([data-front]):not([data-swipe-out])[data-expanded] {
  --y: translateY(calc(var(--lift) * var(--offset) + var(--lift) * -100%));
  opacity: 0;
}

.sonner-toast[data-removed]:not([data-front]):not([data-swipe-out]):not([data-expanded]) {
  --y: translateY(40%);
  opacity: 0;
  transition:
    transform 500ms,
    opacity 200ms;
}

.sonner-toast[data-removed]:not([data-front])::before {
  height: calc(var(--initial-height) + 20%);
}

.sonner-toast[data-swiping] {
  transform: var(--y) translateY(var(--swipe-amount-y, 0px)) translateX(var(--swipe-amount-x, 0px));
  transition: none;
}

.sonner-toast[data-swiped] {
  -webkit-user-select: none; /* Safari 3+ */
  user-select: none;
}

.sonner-toast[data-swipe-out][data-y-position='bottom'],
.sonner-toast[data-swipe-out][data-y-position='top'] {
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.sonner-toast[data-swipe-out][data-swipe-direction='left'] {
  animation-name: swipe-out-left;
}

.sonner-toast[data-swipe-out][data-swipe-direction='right'] {
  animation-name: swipe-out-right;
}

.sonner-toast[data-swipe-out][data-swipe-direction='up'] {
  animation-name: swipe-out-up;
}

.sonner-toast[data-swipe-out][data-swipe-direction='down'] {
  animation-name: swipe-out-down;
}

@keyframes swipe-out-left {
  from {
    transform: var(--y) translateX(var(--swipe-amount-x));
    opacity: 1;
  }

  to {
    transform: var(--y) translateX(calc(var(--swipe-amount-x) - 100%));
    opacity: 0;
  }
}

@keyframes swipe-out-right {
  from {
    transform: var(--y) translateX(var(--swipe-amount-x));
    opacity: 1;
  }

  to {
    transform: var(--y) translateX(calc(var(--swipe-amount-x) + 100%));
    opacity: 0;
  }
}

@keyframes swipe-out-up {
  from {
    transform: var(--y) translateY(var(--swipe-amount-y));
    opacity: 1;
  }

  to {
    transform: var(--y) translateY(calc(var(--swipe-amount-y) - 100%));
    opacity: 0;
  }
}

@keyframes swipe-out-down {
  from {
    transform: var(--y) translateY(var(--swipe-amount-y));
    opacity: 1;
  }

  to {
    transform: var(--y) translateY(calc(var(--swipe-amount-y) + 100%));
    opacity: 0;
  }
}

@media (prefers-reduced-motion) {
  .sonner-toast,
  .sonner-toast > * {
    transition: none !important;
    animation: none !important;
  }
}

@media (max-width: 600px) {
  .sonner-toaster {
    position: fixed;
    right: var(--mobile-offset-right);
    left: var(--mobile-offset-left);
    width: 100%;
  }

  .sonner-toaster[dir='rtl'] {
    left: calc(var(--mobile-offset-left) * -1);
  }

  .sonner-toaster .sonner-toast {
    left: 0;
    right: 0;
    width: calc(100% - var(--mobile-offset-left) * 2);
  }

  .sonner-toaster[data-x-position='left'] {
    left: var(--mobile-offset-left);
  }

  .sonner-toaster[data-y-position='bottom'] {
    bottom: var(--mobile-offset-bottom);
  }

  .sonner-toaster[data-y-position='top'] {
    top: var(--mobile-offset-top);
  }

  .sonner-toaster[data-x-position='center'] {
    left: var(--mobile-offset-left);
    right: var(--mobile-offset-right);
    transform: none;
  }
}
